@import '~normalize.css/normalize.css';
@import '~reset-css/reset.css';
@import '~flexboxgrid/css/flexboxgrid.css';

body, html, #root {
  height: 100%;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
}

.App {
  text-align: center;
  height: 100%; 
}

.App-bg { 
  background-image: url(./assets/images/summer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}